Repository thebaldehit/JSPlayground, pull requests merged in 2023-10, with the labels that each got.

#10 Added code highlighting
  src/front/index.html
  src/front/script.js
  src/front/style.css
Labels: enhancement, front, feature

#11 Added logo imgages
  src/front/index.html
  src/res/logo.ico
  src/res/logo.jpg
  src/res/logo.png
Labels: front, feature

#12 Added /logo endpoint
  src/back/server.js
Labels: back

#16 Fixed bugs and refactored styles
  src/front/index.html
  src/front/script.js
  src/front/style.css
Labels: bug, enhancement, front, feature

#18 Added user preferences menu
  src/front/index.html
  src/front/script.js
  src/front/style.css
Labels: enhancement, front, feature

#22 Added icon
  src/front/index.html
  src/front/style.css
  src/res/ghtIcon.png
Labels: enhancement, front, feature

#23 Added gitIcon endpoint
  src/back/server.js
  src/front/index.html
  src/res/gitIcon.png
Labels: back, feature

#25 Added ability to change workspace view
  src/front/index.html
  src/front/script.js
  src/front/style.css
Labels: enhancement, front

#27 Add donate link
  src/front/index.html
  src/front/style.css
  src/res/monoBanka.png
Labels: front, feature

#28 Add monoBanka route
  src/back/server.js
Labels: back, feature

#29 Fix bug with monoBanka
  src/front/index.html
Labels: bug, front

#30 Fixed bug and added features
  src/front/index.html
  src/front/script.js
  src/front/style.css
Labels: bug, enhancement, front

#32 Update Readme.md
  README.md
Labels: documentation

#33 Added saving custom settings to localStore
  src/front/script.js
Labels: enhancement, front, feature

#34 Break into parts style.css
  src/front/base.css
  src/front/dark-theme.css
  src/front/index.html
  src/front/light-theme.css
  src/front/style.css
Labels: front, feature

#35 Add style files to allowedUrlPathes
  src/back/server.js
Labels: back, feature

#36 Add ability to change page theme
  src/front/base.css
  src/front/index.html
  src/front/script.js
Labels: front, feature

#41 Added custom font size slider
  src/front/base.css
  src/front/index.html
  src/front/script.js
Labels: enhancement, front, feature

#42 Added OS option for page theme
  src/front/index.html
  src/front/script.js
Labels: front, feature

#43 Fix bug with scroll color.
  src/front/dark-theme.css
Labels: bug, front

#44 Fixed some bugs
  src/front/base.css
  src/front/index.html
  src/front/script.js
Labels: bug, enhancement, front

#45 Deleted some code
  src/front/base.css
  src/front/index.html
  src/front/script.js
Labels: bug, enhancement, front

#46 Refactored front
  src/front/base.css
  src/front/dark-theme.css
  src/front/index.html
  src/front/script.js
Labels: front

#47 Fixed mistake in Readme.md
  README.md
Labels: bug, documentation

#48 Fixed default theme
  src/front/index.html
  src/front/script.js
Labels: bug, enhancement, front, feature

#49 Fixed bug
  src/front/script.js
Labels: bug, front

#50 Fixed name of theme
  src/front/index.html
Labels: enhancement, front
